{% extends "layout.html" %}
{% set pageTitle = "Add Approver" %}

{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Add user name and email.</p>

      <h2>Uploaded Approver Files</h2>
<ul>
      {% for user in filteredUserList %}
        <li>{{ user.email }} {{ user.id }}</li>
        <form method="POST" action="/add-approvers/delete/{{user.id}}" class="delete-form">
          <input type="submit" name="delete" id="delete" value="Delete">
        </form>
      {% else %}
        <li>No files found.</li>
      {% endfor %}
    </ul>

      <form id="add-approver-form" method="post" action="/add-approvers" style="display: flex; flex-direction: column">
        <div class="govuk-form-group">
          <label class="govuk-label" for="user-name">User Name</label>
          <input class="govuk-input" id="user-name" name="username" type="text" required>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="user-email">User Email</label>
          <input class="govuk-input" id="user-email" name="email" type="email" required>
        </div>

        <button class="govuk-button" type="submit">Add Approver</button>

      </form>

      {% if success %}
        <div class="govuk-panel govuk-panel--confirmation">
          <div class="govuk-panel__body">
            <p class="govuk-body" style="color: white;">User has been added as an approver.</p>
          </div>
        </div>
      {% endif %}

      {% if error %}
        <div class="govuk-panel govuk-panel--error">
          <h1 class="govuk-panel__title">Error</h1>
          <div class="govuk-panel__body">
            <p>{{ error }}</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}