{% extends "layout.html" %}
{% from "components/table/macro.njk" import govukTable %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "View comment" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
<div class="govuk-body">
  {% include commentGuidance %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Comment details</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukTable(viewHeaderData) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <div id="map"></div>
    </div>
  </div>
  <div>
    <div class="comment-options govuk-!-margin-top-4 govuk-!-margin-bottom-4">
      <div class="options-buttons">
        <a class="govuk-button" href="/comment/edit/{{comment.id}}">Edit comment details</a>
      </div>
      {% if (isApprover) %}
      {% if (not comment.approvedAt) %}
      <div class="options-buttons">
        <form method="POST" action="/comment/edit/{{ comment.id }}/approve"
          onsubmit="return confirm('Are you sure you want to approve this comment?')">
          <button class="govuk-button warning" type="submit">Approve this comment</button>
        </form>
      </div>
      {% else %}
      <div class="options-buttons">
        <form method="POST" action="/comment/edit/{{ comment.id }}/undo-approve"
          onsubmit="return confirm('Are you sure you want to undo the approval of this comment?')">
          <button class="govuk-button warning" type="submit">Undo approve</button>
        </form>
      </div>
      {% endif %}
      {% endif %}
      {% if (allowDelete) %}
      <div class="options-buttons">
        <form method="POST" action="/comment/edit/{{ comment.id }}/delete"
          onsubmit="return confirm('Are you sure you want to delete all comments?')">
          <button class="govuk-button govuk-button--warning" type="submit">Delete all features</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- <pre>{{comment | dump(2) | safe}}</pre>
        <pre>{{geometry | dump(2) | safe}}</pre> -->
</div>
{% for featureView in viewFeatureData %}
<div class="govuk-grid-row feature-row">
  <div class="govuk-grid-column-two-thirds feature-column">
    {{ govukTable(featureView.commentData) }}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ govukTable(featureView.mapData) }}
  </div>
</div>
{% endfor %}
{% endblock %}

{% block bodyEnd %}

<div id="mapModal" class="map-modal">
  <div class="map-modal-content">
    <span class="map-modal-close" tabindex="0">&times;</span>
    <div id="mapModalContent"></div>
  </div>
</div>

  <script>
    window.LTFMGMT.geometry = {{ geometry | dump | safe }}
    window.LTFMGMT.capabilities = {{ capabilities | dump | safe }}
  </script>
  <script src="/assets/js/view-comment.js"></script>
{% endblock %}
