{% extends "layout.html" %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Edit comment" %}

{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="map">
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div id="root">
        <form id="comment-form-edit" action="/comment/edit/{{id}}" method="POST">
          <div class="form-group field field-object">
            <fieldset id="root">
              <legend id="root_title">A geojson form</legend>
              <div class="form-group field field-string  govuk-form-group name"><label class="control-label"
                  for="name">Description<span class="required">*</span></label>
                <p id="name__description" class="field-description">For internal use, to describe the comments that you
                  are uploading. This will not be displayed to public users.</p>
                  <input name="name" type="text"
                  id="root_name" class="govuk-input govuk-input--width-2{{ features.indexOf(feature) }}" autocomplete="off" required="" maxlength="75"
                  value="{{ comment.description }}">
              </div>
              <div class="form-group field field-string  govuk-form-group boundary"><label class="control-label"
                  for="boundary">Boundary<span class="required">*</span></label>
                <p id="boundary__description" class="field-description">For internal use, choose the boundary to which
                  this comment applies. This will not be displayed to public users.</p>
                  <input name="boundary" rows="5" id="boundary"
                  required="" autocomplete="off" list="options" class="govuk-input"
                  value="{{ comment.boundary }}"><datalist id="options">
                  <option>Cumbria and Lancashire (CLA)</option>
                  <option>Devon, Cornwall and the Isles of Scilly (DCS)</option>
                  <option>East Anglia (EAN)</option>
                  <option>East Midlands (EMD)</option>
                  <option>Greater Manchester, Merseyside and Cheshire (GMC)</option>
                  <option>Hertfordshire and North London (HNL)</option>
                  <option>Kent, South London and East Sussex (KSL)</option>
                  <option>Lincolnshire and Northamptonshire (LNA)</option>
                  <option>North East (NEA)</option>
                  <option>Solent and South Downs (SSD)</option>
                  <option>Thames (THM)</option>
                  <option>Wessex (WSX)</option>
                  <option>West Midlands (WMD)</option>
                  <option>Yorkshire (YOR)</option>
                </datalist>
              </div>

              <div class="form-group field field-array">
                <div>
                  {% for feature in features %}

                  <!-- Holding comment -->

                  {% if type === 'holding' %}
                  <div id="item_{{ features.indexOf(feature) }}" class="array-item">
                    <div class="form-group field field-object">
                      <fieldset id="features_{{ features.indexOf(feature) }}">
                        <div class="form-group field field-object">
                          <fieldset id="features_{{ features.indexOf(feature) }}_properties">
                            <legend id="features_{{ features.indexOf(feature) }}_properties__title">properties</legend>
                            <div id="map_{{ features.indexOf(feature) }}" class="comment-map">
                            </div>
                            <div class="form-group field field-string  govuk-form-group riskOverride">
                              <label
                                class="control-label" for="features_{{ features.indexOf(feature) }}_properties_risk_type">
                                Select the flood risk you want to update for points inside this area
                              </label>
                              <ul class="field-radio-group" id="features_{{ features.indexOf(feature) }}_properties_risk_type">
                                <li>
                                  <label for="sw_{{ features.indexOf(feature) }}"><input class="radio risk-type-{{ features.indexOf(feature) }}" id="sw_{{ features.indexOf(feature) }}" type="radio" name="sw_or_rs_{{ features.indexOf(feature) }}"
                                    value="Surface water">Surface water</label></li>
                                <li>
                                  <label for="rs_{{ features.indexOf(feature) }}"><input class="radio risk-type-{{ features.indexOf(feature) }}" id="rs_{{ features.indexOf(feature) }}" type="radio" name="sw_or_rs_{{ features.indexOf(feature) }}"
                                  value="Rivers and the sea">Rivers and the sea</label></li>
                              </ul>
                            </div>

                            <!-- SW override -->
                            <div id="risk-override-radios_{{ features.indexOf(feature) }}" class="form-group field field-string govuk-form-group riskOverride">
                              <label
                                class="control-label" for="features_{{ features.indexOf(feature) }}_properties_riskOverride">
                                Do you want to override the present day surface water flood risk rating?
                              </label>
                              <ul class="field-radio-group" id="features_{{ features.indexOf(feature) }}_properties_riskOverride">
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-no-override"><input class="radio no_override override_radio_{{ features.indexOf(feature) }}" type="radio" id="map_{{ features.indexOf(feature) }}-no-override" name="override_{{ features.indexOf(feature) }}-risk"
                                    value="Do not override">No, do not override</label></li>
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-override"><input class="radio " type="radio" id="map_{{ features.indexOf(feature) }}-override" name="override_{{ features.indexOf(feature) }}"
                                  value="Override">Yes, override surface water</label></li>
                                <div id="risk-override-warning_{{ features.indexOf(feature) }}" class="govuk-warning-text hide">
                                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                  <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    By overriding the present risk rating, climate change information will automatically show as 'no data'. 
                                    Any surface water depth information will also be removed from the service and replaced with 'no data'.
                                  </strong>
                                </div>
                                <ul id="risk-options_{{ features.indexOf(feature) }}" class="risk-option-radios hide" >
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-very-low"><input class="radio risk-option_{{ features.indexOf(feature) }}" type="radio" id="map_{{ features.indexOf(feature) }}-override-very-low" name="override_{{ features.indexOf(feature) }}-risk"
                                      value="Very low">Very low</label></li>
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-low"><input class="radio risk-option_{{ features.indexOf(feature) }}" type="radio" id="map_{{ features.indexOf(feature) }}-override-low" name="override_{{ features.indexOf(feature) }}-risk"
                                      value="Low">Low</label></li>
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-medium"><input class="radio risk-option_{{ features.indexOf(feature) }}" type="radio" id="map_{{ features.indexOf(feature) }}-override-medium" name="override_{{ features.indexOf(feature) }}-risk"
                                      value="Medium">Medium</label></li>
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-high"><input class="radio risk-option_{{ features.indexOf(feature) }}" type="radio" id="map_{{ features.indexOf(feature) }}-override-high" name="override_{{ features.indexOf(feature) }}-risk"
                                      value="High">High</label></li>
                                </ul>
                              </ul>
                            </div>

                            <!-- SW CC override -->
                            <div id="risk-override-radios_{{ features.indexOf(feature) }}_cc" class="form-group field field-string govuk-form-group riskOverride hide">
                              <label
                                class="control-label" for="features_{{ features.indexOf(feature) }}_properties_riskOverride_cc">
                                Do you want to override the climate change surface water flood risk rating?
                              </label>
                              <ul class="field-radio-group" id="features_{{ features.indexOf(feature) }}_properties_riskOverride_cc">
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-no-override_cc"><input class="radio no_override override_radio_{{ features.indexOf(feature) }}_cc" type="radio" id="map_{{ features.indexOf(feature) }}-no-override_cc" name="override_{{ features.indexOf(feature) }}-risk_cc"
                                    value="Do not override">No, do not override</label></li>
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-override_cc"><input class="radio " type="radio" id="map_{{ features.indexOf(feature) }}-override_cc" name="override_{{ features.indexOf(feature) }}-risk_cc"
                                  value="Override">Yes, override to show 'no data'</label></li>
                              </ul>
                              <div id="risk-override-warning_{{ features.indexOf(feature) }}_cc" class="govuk-warning-text hide">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                  <span class="govuk-visually-hidden">Warning</span>
                                  By overriding the climate change risk rating, climate change information will now show as 'no data'. 
                                  Any surface water depth information will also be removed from the service and replaced with 'no data'.
                                </strong>
                              </div>
                            </div>

                            <!-- RS override -->
                            <div id="risk-override-radios_{{ features.indexOf(feature) }}_rs" class="form-group field field-string govuk-form-group riskOverride">
                              <label
                                class="control-label" for="features_{{ features.indexOf(feature) }}_properties_riskOverride_rs">
                                Do you want to override the present day rivers and the sea flood risk rating?
                              </label>
                              <ul class="field-radio-group" id="features_{{ features.indexOf(feature) }}_properties_riskOverride_rs">
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-no-override_rs"><input class="radio no_override override_radio_{{ features.indexOf(feature) }}_rs" type="radio" id="map_{{ features.indexOf(feature) }}-no-override_rs" name="override_{{ features.indexOf(feature) }}-risk_rs"
                                    value="Do not override">No, do not override</label></li>
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-override_rs"><input class="radio " type="radio" id="map_{{ features.indexOf(feature) }}-override_rs" name="override_{{ features.indexOf(feature) }}_rs"
                                  value="Override">Yes, override rivers and the sea</label></li>
                                <div id="risk-override-warning_{{ features.indexOf(feature) }}_rs" class="govuk-warning-text hide">
                                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                  <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    By overriding the present risk rating, climate change information will automatically show as 'no data'. 
                                    Any rivers and the sea depth information will also be removed from the service and replaced with 'no data'.
                                  </strong>
                                </div>
                                <ul id="risk-options_{{ features.indexOf(feature) }}_rs" class="risk-option-radios hide" >
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-very-low_rs"><input class="radio risk-option_{{ features.indexOf(feature) }}_rs" type="radio" id="map_{{ features.indexOf(feature) }}-override-very-low_rs" name="override_{{ features.indexOf(feature) }}-risk_rs"
                                      value="Very low">Very low</label></li>
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-low_rs"><input class="radio risk-option_{{ features.indexOf(feature) }}_rs" type="radio" id="map_{{ features.indexOf(feature) }}-override-low_rs" name="override_{{ features.indexOf(feature) }}-risk_rs"
                                      value="Low">Low</label></li>
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-medium_rs"><input class="radio risk-option_{{ features.indexOf(feature) }}_rs" type="radio" id="map_{{ features.indexOf(feature) }}-override-medium_rs" name="override_{{ features.indexOf(feature) }}-risk_rs"
                                      value="Medium">Medium</label></li>
                                  <li>
                                    <label for="map_{{ features.indexOf(feature) }}-override-high_rs"><input class="radio risk-option_{{ features.indexOf(feature) }}_rs" type="radio" id="map_{{ features.indexOf(feature) }}-override-high_rs" name="override_{{ features.indexOf(feature) }}-risk_rs"
                                      value="High">High</label></li>
                                </ul>
                              </ul>
                            </div>

                            <!-- RS CC override -->
                            <div id="risk-override-radios_{{ features.indexOf(feature) }}_rscc" class="form-group field field-string govuk-form-group riskOverride hide">
                              <label
                                class="control-label" for="features_{{ features.indexOf(feature) }}_properties_riskOverride_rscc">
                                Do you want to override the climate change rivers and the sea flood risk rating?
                              </label>
                              <ul class="field-radio-group" id="features_{{ features.indexOf(feature) }}_properties_riskOverride_rscc">
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-no-override_rscc"><input class="radio no_override override_radio_{{ features.indexOf(feature) }}_rscc" type="radio" id="map_{{ features.indexOf(feature) }}-no-override_rscc" name="override_{{ features.indexOf(feature) }}-risk_rscc"
                                    value="Do not override">No, do not override</label></li>
                                <li>
                                  <label for="map_{{ features.indexOf(feature) }}-override_rscc"><input class="radio " type="radio" id="map_{{ features.indexOf(feature) }}-override_rscc" name="override_{{ features.indexOf(feature) }}-risk_rscc"
                                  value="Override">Yes, override to show 'no data'</label></li>
                              </ul>
                              <div id="risk-override-warning_{{ features.indexOf(feature) }}_rscc" class="govuk-warning-text hide">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                  <span class="govuk-visually-hidden">Warning</span>
                                  By overriding the climate change risk rating, climate change information will now show as 'no data'. 
                                  Any rivers and the sea depth information will also be removed from the service and replaced with 'no data'.
                                </strong>
                              </div>
                            </div>

                            <div class="form-group field field-string  govuk-form-group">
                              <label class="control-label" for="features_{{ features.indexOf(feature) }}_properties_add_comment">
                                Do you want to add holding comment text?
                              </label>
                              <ul class="field-radio-group" id="features_{{ features.indexOf(feature) }}_properties_add_comment">
                                <li>
                                  <label for="text_no_{{ features.indexOf(feature) }}"><input class="radio textComment_radio_{{ features.indexOf(feature) }}" id="text_no_{{ features.indexOf(feature) }}" type="radio" name="add_holding_comment_{{ features.indexOf(feature) }}"
                                    value="No">No, do not add a holding comment text</label></li>
                                <li>
                                  <label for="text_yes_{{ features.indexOf(feature) }}"><input class="radio textComment_radio_{{ features.indexOf(feature) }}" type="radio" id="text_yes_{{ features.indexOf(feature) }}" name="add_holding_comment_{{ features.indexOf(feature) }}"
                                  value="Yes">Yes, add holding comment text</label></li>
                              </ul>
                            </div>
                            <div class="form-group field field-string  govuk-form-group info" id="text_area_{{ features.indexOf(feature) }}"><label class="control-label"
                                for="features_{{ features.indexOf(feature) }}_properties_info">Enter the holding comment text</label>
                              <div id="features_{{ features.indexOf(feature) }}_properties_info__description" class="field-description">
                                <p>For example:</p>
                                <p>For updates to when NaFRA2 data will be available: Some of the rivers and sea flood risk data for this location is 
                                  currently unavailable. We'll publish this data by [month]</p>
                                <p>For other scenarios (new modelling): We will update this data to include new rivers and sea information for this area. 
                                  For information, email <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></p>
                                <p>For flood alleviation schemes: A flood management scheme in [Weston-Super-Mare] has been completed. We will include this 
                                  in our rivers and sea data. For information, email 
                                  <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></p>
                                <p>Data currently being reviewed: We are reviewing rivers and sea data for this area. For information, contact 
                                  <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></p>
                                <p>The holding comment text will display to public users in this area. Read 
                                  <a href="/comment-guidance" target="_blank" previewlistener="true">comment guidance</a>
                                  before writing or pasting anything. The maximum number of characters is 180.</p>
                              </div>
                              <div><textarea name="features_{{ features.indexOf(feature) }}_properties_info" rows="5" maxlength="180"
                                  class="govuk-textarea">{{ feature.properties.info }}</textarea>
                                <p class="govuk-hint govuk-character-count__message">You have <span class="remaining-chars-text"></span> characters remaining</p>
                              </div>
                            </div>
                            <div class="form-group field field-string  govuk-form-group start"><label class="control-label"
                                for="features_{{ features.indexOf(feature) }}_properties_start">Enter the start date<span class="required">*</span></label>
                              <p id="features_{{ features.indexOf(feature) }}_properties_start__description" class="field-description">
                                Select the date the holding comment is valid from. 
                                Your holding comment will not go live automatically - it’ll be uploaded after it’s approved. 
                                For internal use only - the date will not be displayed to public users.
                              </p>
                              <input name="features_{{ features.indexOf(feature) }}_properties_start" type="date"
                                class="govuk-input govuk-input--width-2{{ features.indexOf(feature) }}" autocomplete="off" required="" value="{{ feature.properties.start }}">
                            </div>
                            <div class="form-group field field-string  govuk-form-group end"><label class="control-label"
                                for="features_{{ features.indexOf(feature) }}_properties_end">Enter the end date<span class="required">*</span></label>
                              <p id="features_{{ features.indexOf(feature) }}_properties_end__description" class="field-description">
                                Select the date the holding comment is valid to. 
                                You must remove your holding comment on the end date - it will not be removed automatically. 
                                For internal use only - the date will not be displayed to public users.
                              </p>
                              <input name="features_{{ features.indexOf(feature) }}_properties_end" type="date"
                              class="govuk-input govuk-input--width-2{{ features.indexOf(feature) }}" autocomplete="off" required="" value="{{ feature.properties.end }}">
                            </div>
                          </fieldset>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  {% else %}

                  <!-- LLFA -->

                  <div id="item_{{ features.indexOf(feature) }}" class="array-item">
                    <div class="form-group field field-object">
                      <fieldset id="features_{{ features.indexOf(feature) }}">
                        <div class="form-group field field-object">
                          <fieldset id="features_{{ features.indexOf(feature) }}_properties">
                            <legend id="features_{{ features.indexOf(feature) }}_properties__title">properties</legend>
                            <div id="map_{{ features.indexOf(feature) }}" class="comment-map"></div>
                            <div class="form-group field field-string  govuk-form-group info"><label class="control-label"
                                for="features_{{ features.indexOf(feature) }}_properties_info">Report</label>
                              <p id="features_{{ features.indexOf(feature) }}_properties_info__description" class="field-description">The report text will display
                                to public users in this geometry.</p>
                              <ul class="field-radio-group" id="features_{{ features.indexOf(feature) }}_properties_info">
                                <li>
                                  <label><input class="radio risk-report_{{ features.indexOf(feature) }}" type="radio" name="features_{{ features.indexOf(feature) }}_properties_report_type" value="Flood report">Flood report</label>
                                </li>
                                <li>
                                  <label><input class="radio risk-report_{{ features.indexOf(feature) }}" type="radio" name="features_{{ features.indexOf(feature) }}_properties_report_type" value="Non compliant mapping">Non compliant mapping</label>
                                </li>
                                <li>
                                  <label><input class="radio risk-report_{{ features.indexOf(feature) }}" type="radio" name="features_{{ features.indexOf(feature) }}_properties_report_type" value="Proposed schemes">Proposed schemes</label>
                                </li>
                                <li>
                                  <label><input class="radio risk-report_{{ features.indexOf(feature) }}" type="radio" name="features_{{ features.indexOf(feature) }}_properties_report_type" value="Completed schemes">Completed schemes</label>
                                </li>
                                <li>
                                  <label><input class="radio risk-report_{{ features.indexOf(feature) }}" type="radio" name="features_{{ features.indexOf(feature) }}_properties_report_type" value="Flood action plan">Flood action plan</label>
                                </li>
                                <li>
                                  <label><input class="radio risk-report_{{ features.indexOf(feature) }}" type="radio" name="features_{{ features.indexOf(feature) }}_properties_report_type" value="Other info">Other info</label>
                                </li>
                              </ul>
                            </div>
                            <div class="form-group field field-string  govuk-form-group start"><label class="control-label"
                                for="features_{{ features.indexOf(feature) }}_properties_start">Enter the start date<span class="required">*</span></label>
                              <p id="features_{{ features.indexOf(feature) }}_properties_start__description" class="field-description">Select the date the holding comment is valid from. 
                                Your holding comment will not go live automatically - it’ll be uploaded after it’s approved. 
                                For internal use only - the date will not be displayed to public users.</p>
                                <input name="features_{{ features.indexOf(feature) }}_properties_start" type="date" id="features_{{ features.indexOf(feature) }}_properties_start" class="govuk-input govuk-input--width-20 start-date"
                                autocomplete="off" required="" value="{{ feature.properties.start }}">
                            </div>
                            <div class="form-group field field-string  govuk-form-group end"><label class="control-label"
                                for="features_{{ features.indexOf(feature) }}_properties_end">Enter the end date<span class="required">*</span></label>
                              <p id="features_{{ features.indexOf(feature) }}_properties_end__description" class="field-description">Select the date the holding comment is valid to. 
                                You must remove your holding comment on the end date - it will not be removed automatically. 
                                For internal use only - the date will not be displayed to public users.
                              </p>
                              <input name="features_{{ features.indexOf(feature) }}_properties_end" type="date" id="features_{{ features.indexOf(feature) }}_properties_end" class="govuk-input govuk-input--width-20 end-date"
                                autocomplete="off" required="" value="{{ feature.properties.end }}">
                            </div>
                          </fieldset>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" id="editSaveBtn">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script>
    window.LTFMGMT.comment = {{ comment | dump | safe }}
    window.LTFMGMT.geometry = {{ geometry | dump | safe }}
    window.LTFMGMT.capabilities = {{ capabilities | dump | safe }}
    window.LTFMGMT.selectedRadio = {{ selectedRadio | dump | safe }}
    window.LTFMGMT.type = {{ type | dump | safe }}
    window.LTFMGMT.riskType = {{ riskType | dump | safe }}
    window.LTFMGMT.textCommentRadio = {{ textCommentRadio | dump | safe }}
  </script>
  <script src="/assets/js/partials/sharedFunctions.js"></script>
  <script src="/assets/js/edit-comment.js"></script>
{% endblock %}

