{% extends "layout.html" %}
{% from "components/table/macro.njk" import govukTable %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "View comment" %}

{% block head %}
  {{ super() }}
  <style>
    .comment-map {
      width: 320px;
      max-height: 180px;
    }
    .govuk-table__cell .comment-map {
      float: left;
    }
    .govuk-table__header.override-column {
      min-width: 150px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukTable(viewHeaderData) }}

      <div>
        <a class="govuk-button" href="/comment/edit/{{comment.id}}">Edit</a>
        {% if (allowDelete) %}
        <div style="float: right;">
          <form method="POST" action="/comment/edit/{{ comment.id }}/delete" style="display: inline-block;"
            onsubmit="return confirm('Are you sure you want to delete all comments?')">
            <button class="govuk-button danger" type="submit">Delete all</button>
          </form>
        </div>
        {% endif %}
      </div>
      {% if (isApprover) %}
        {% if (not comment.approvedAt) %}
        <form method="POST" action="/comment/edit/{{ comment.id }}/approve" style="float: left; margin-right: 10px;"
          onsubmit="return confirm('Are you sure you want to approve this comment?')">
          <button class="govuk-button warning" type="submit">Approve</button>
        </form>
        <span style="float: left; max-width: 300px;" >Approved comments will be visible on the public service in approximately 1 hour.</span>
        {% else %}
        <form method="POST" action="/comment/edit/{{ comment.id }}/undo-approve"
          onsubmit="return confirm('Are you sure you want to undo the approval of this comment?')">
          <button class="govuk-button warning" type="submit">Undo approve</button>
        </form>
        {% endif %}
      {% endif %}
      <!-- <pre>{{comment | dump(2) | safe}}</pre>
      <pre>{{geometry | dump(2) | safe}}</pre> -->
    </div>
    <div class="govuk-grid-column-one-third">
      <div id="map"></div>
    </div>
  </div>
  {{ govukTable(viewCommentData) }}
{% endblock %}

{% block bodyEnd %}

<div id="mapModal" class="map-modal">
  <div class="map-modal-content">
    <span class="map-modal-close" tabindex="0">&times;</span>
    <div id="mapModalContent"></div>
  </div>
</div>

  <script>
    window.LTFMGMT.geometry = {{ geometry | dump | safe }}
    window.LTFMGMT.capabilities = {{ capabilities | dump | safe }}
  </script>
  <script src="/assets/js/view-comment.js"></script>
{% endblock %}
