{% extends "layout.html" %}

{% from "components/table/macro.njk" import govukTable %}
{% from "components/warning-text/macro.njk" import govukWarningText %}

{% set bodyClasses = "internal" %}
{% set pageTitle = "Comments" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ assetPath }}/vendor/tablesort-5.1.0/tablesort.css" type="text/css">
  <script src="{{ assetPath }}/vendor/tablesort-5.1.0/tablesort.min.js"></script>
  <script src="{{ assetPath }}/vendor/tablesort-5.1.0/sorts/tablesort.number.min.js"></script>
  <script src="{{ assetPath }}/vendor/tablesort-5.1.0/sorts/tablesort.date.min.js"></script>
{% endblock %}

{% block body %}
  <div class="govuk-body">
    <!-- Comment guidance details -->
      {% include commentGuidance %}

    <a href="/comments.csv" download class="govuk-button govuk-button--secondary home-buttons">
      Download all comments
    </a>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Add a new comment</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">PSO users</h3>
    <p class="govuk-body-s govuk-!-margin-bottom-2">For adding local information</p>
    <a href="/comment/create/holding" class="govuk-button home-buttons">
      Create holding comment
    </a>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">National teams</h3>
    <p class="govuk-body-s govuk-!-margin-bottom-2">For adding non-modelled surface water information</p>
    <a href="/comment/create/llfa" class="govuk-button home-buttons">
      Add LLFA comment
    </a>
    <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">Comments</h2>
    {{ govukTable(table) }}
  </div>

  <script>
    new window.Tablesort(document.querySelector('.govuk-table'))
  </script>
{% endblock %}